{% extends 'base.html' %}
{% load static %}
{% block title %} Escola {% endblock %}

{% block nav %}
<a href="{% url 'new_fee_type' %}" class="btn-nav-school" id="btn-new-fee">Nova Mensalidade</a>
<a href="{% url 'activities_new' %}" class="btn-nav-school" id="btn-new-activity">Nova Atividade</a>
<a href="{% url 'teachers_new' %}" class="btn-nav-school" id="btn-new-teacher">Novo Professor</a>
<a href="{% url 'school_manager' %}" class="btn-nav-school" id="btn-manage-school">Gerir Escola</a>

{% endblock %}
{% block title_page %}
Gestão {{ school }}
{% endblock %}

{% block main %}
<div class="container">
    <p class="fs-3 text-center mt-3"><b>Atividades</b></p>
    <a data-bs-toggle="modal" data-bs-target="#insertActivitieModal" class="btn-add-activity"><img
            src="{% static 'images/add_circle.svg' %}" alt=""></a>

    <table class="table custom-table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Nº inscritos</th>
                <th scope="col">Valor</th>
                <th scope="col">Operações</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for activity in activities %}
            <tr>
                <th scope="row"> {{activity.id}}</th>
                <td>{{activity.name}}</td>
                <td>{{activity.student_count}}</td>
                <td>{{activity.value}}</td>
                <td>
                    <a onclick="delete_activity('{{activity.name}}','{{activity.id}}')"><img
                            src="{% static 'images/delete.svg' %}"></a>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#editActivitieModal" class="btn-edit-activity"
                        data-id="{{ activity.id }}"><img src="{% static 'images/edit.svg' %}"></a>

                </td>
            </tr>

            {% endfor %}
        </tbody>
        <!-- 
Edit activities modal
 -->
        <div class="modal fade" id="editActivitieModal" tabindex="-1" aria-labelledby="editActivitieModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editActivitieModalLabel">Inserir Atividade</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form method="POST" id="editActivityForm" class="form_control form-control-sm">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="Activityname">Nome</label>
                                <input type="text" class="form-control" id="Activityname" name="name" required>
                            </div>
                            <div class="mb-3">
                                <label for="Activityvalue">Valor</label>
                                <input type="text" class="form-control" id="Activityvalue" name="value" required>
                            </div>


                            <button class="btn btn-primary" type="submit">Guardar</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <!-- Insert new activity modal -->
        <div class="modal fade" id="insertActivitieModal" tabindex="-1" aria-labelledby="insertActivitieModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="insertActivitieModalLabel">Editar Atividade</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form method="POST" id="insertActivityForm" class="form_control form-control-sm">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="Activityname">Nome</label>
                                <input type="text" class="form-control" id="Activityname" name="name" required>
                            </div>
                            <div class="mb-3">
                                <label for="Activityvalue">Valor</label>
                                <input type="text" class="form-control" id="Activityvalue" name="value" required>
                            </div>


                            <button class="btn btn-primary" type="submit">Guardar</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </table>



    <p class="fs-3 text-center mt-5"><b>Professores</b></p>
    <a data-bs-toggle="modal" data-bs-target="#addTeacherModal" class="btn-add-teacher"><img
            src="{% static 'images/add_circle.svg' %}" alt=""></a>
    <table class="table custom-table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Disciplina</th>
                <th scope="col">Horário</th>
                <th scope="col">Operações</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for teacher in teachers %}
            <tr>
                <th scope="row">{{teacher.id}}</th>
                <td>{{teacher.name}}</td>
                <td>{{teacher.activity.name}}</td>
                <td>{{teacher.class_schedule}}</td>
                <td>
                    <a onclick="delete_teacher('{{ teacher.name}}','{{ teacher.id }}')"><img
                            src="{% static 'images/delete.svg' %}"></a>
                    <a data-bs-toggle="modal" data-bs-target="#updateTeacherModal" class="btn-updtate-teacher"
                        data-id="{{ teacher.id }}"><img src="{% static 'images/edit.svg' %}"></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <!-- modal add teacher -->
        <div class="modal fade" id="addTeacherModal" tabindex="-1" aria-labelledby="addTeacherModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addTeacherModalLabel">Inserir Professor</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form method="POST" id="insetTeacherForm" class="form_control form-control-sm">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="TeacherName">Nome</label>
                                <input type="text" class="form-control" id="TeacherName" name="name" required>
                            </div>
                            <div class="mb-3">
                                <label for="TeacherPhone">Contacto</label>
                                <input type="text" class="form-control" id="TeacherPhone" name="phone">
                            </div>
                            <div class="mb-3">
                                <label for="TeacherEmail">Email</label>
                                <input type="text" class="form-control" id="TeacherEmail" name="email">
                            </div>

                            <div class="mb-3">
                                <label for="TeacherClassSchedule">Horário</label>
                                <input type="text" class="form-control" id="TeacherClassSchedule" name="class_schedule"
                                    required>
                            </div>
                            <div class="mb-3">
                                <label for="TeacberActivity">Disciplina</label>
                                <select class="form-select" id="activitySelectTeacher" name="activity"
                                    aria-label="select example">
                                    <!-- Opções serão carregadas aqui -->
                                </select>
                            </div>



                            <button class="btn btn-primary" type="submit">Guardar</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
</div>
</div>

<!-- Modal edit teacher -->
<div class="modal fade" id="updateTeacherModal" tabindex="-1" aria-labelledby="updateTeacherModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateTeacherModalLabel">Editar Professor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form method="POST" id="updateTeacherForm" class="form_control form-control-sm">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="TeacherName">Nome</label>
                        <input type="text" class="form-control" id="TeacherNameUP" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="TeacherPhone">Contacto</label>
                        <input type="text" class="form-control" id="TeacherPhoneUP" name="phone">
                    </div>
                    <div class="mb-3">
                        <label for="TeacherEmail">Email</label>
                        <input type="text" class="form-control" id="TeacherEmailUP" name="email">
                    </div>

                    <div class="mb-3">
                        <label for="TeacherClassSchedule">Horário</label>
                        <input type="text" class="form-control" id="TeacherClassScheduleUP" name="class_schedule"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="TeacherActivity">Disciplina</label>
                        <select class="form-select" id="activitySelectTeacherUpdate" name="activity"
                            aria-label="select example">

                        </select>
                    </div>



                    <button class="btn btn-primary" type="submit">Guardar</button>
                </form>
            </div>
        </div>

    </div>
</div>
</div>
</div>

</table>

<p class="fs-3 text-center mt-5"><b>Mensalidades</b></p>
<a data-bs-toggle="modal" data-bs-target="#insertFeeModal" class="btn-add-fee"><img
        src="{% static 'images/add_circle.svg' %}" alt=""></a>
<table class="table custom-table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Valor</th>
            <th scope="col">Operações</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for fee in fees %}
        <tr>
            <th scope="row">{{fee.id }}</th>
            <td>{{fee.name}}</td>
            <td>{{fee.value}}</td>
            <td>
                <a onclick="delete_fee_type('{{fee.name}}','{{fee.id}}')"><img src="{% static 'images/delete.svg' %}"></a>
                <a data-bs-toggle="modal" data-bs-target="#updateFeeModal" class="btn-update-fee" data-id="{{fee.id}}"><img src="{% static 'images/edit.svg' %}"></a>
            </td>
        </tr>

        {% endfor %}
    </tbody>

    <!-- Modal add fee -->
    <div class="modal fade" id="insertFeeModal" tabindex="-1" aria-labelledby="insertFeeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="insertFeeModalLabel">Nova Mensalidade</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form method="POST" id="insertFeeForm" class="form_control form-control-sm">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="Activityname">Nome</label>
                            <input type="text" class="form-control" id="Feename" name="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="Activityvalue">Valor</label>
                            <input type="text" class="form-control" id="Feevalue" name="value" required>
                        </div>


                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal update fee -->
    <div class="modal fade" id="updateFeeModal" tabindex="-1" aria-labelledby="updateFeeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateFeeModalLabel">Editar Mensalidade</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form method="POST" id="updateFeeForm" class="form_control form-control-sm">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="Feename">Nome</label>
                            <input type="text" class="form-control" id="FeenameUp" name="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="Feevalue">Valor</label>
                            <input type="text" class="form-control" id="FeevalueUp" name="value" required>
                        </div>


                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </form>
                </div>
            </div>

        </div>
    </div>


</table>
</div>




<script src="{% static 'js/school.js' %}"></script>
{% endblock %}