body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

.bar-side {
    position: fixed;
    top:0;
    left:0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 200px;
    border-radius: 0px 3px 3px 0px;
    background-color: #555;
    z-index: 10000;
}

.main-page {
    background-color:rgba(240, 240, 240, 0.2);
    color: black;
    margin-left: 200px;
    padding: 20px;
}

.btn-menu:hover {
    background-color: #555;
}

.logo-img {
    border-radius: 30px;
    max-width: 60px;
    max-height: 60px;
    width: auto;
    height: auto;
    margin-top: 15px;
    background-color: #555 !important;
    
}

.btn-bar-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #555 !important;
    color: #dedddc !important;
    padding: 0;
}

.container-btn-group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #555 !important;
    color: #dedddc !important;
  }

.hidden {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
}

.more-buttons {
    max-height: 500px; /* Um valor alto para transição, ajusta conforme o conteúdo */
    opacity: 1;
    transition: max-height 0.4s ease, opacity 0.4s ease;
  }

.btn-bar-side {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #dedddc;
    background-color: #555 !important;
    cursor: pointer;}

.btn-bar-side:hover {
    color: #d6d6d6;
}
.showbtn {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    background-color: #555 !important;
    color: #dedddc !important;
  }

.main-page .header {
    position: fixed;
    top: 0;
    left: 200px;
    right: 0;
    height: 45px;
    z-index: 1000;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    padding-right: 20px;
    background-color: white;
    border-radius: 0px 12px 0px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 7px 0px;
   
}

.logo-logout {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #dee0df;
    margin-top: 5px;
    margin-right: 15px;
}
.navbar-main{
    display: flex;
    justify-content: center;

}
.navbar{
    background-color: #d6d6d6;
    justify-content: space-around !important;
    border-radius: 12px;
    width: 100%;
}
.btn-nav{
    background-color: #d6d6d6;
    color: #555;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    width: 33%;
    text-align: center;
}
.btn-nav-school{
    background-color: #d6d6d6;
    color: #555;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    width: 25%;
    text-align: center;
}
.btn-nav:hover{
    background-color: white;
    color: #0e4ded
}
.btn-active {
    background-color: white;
    color: #0e4ded
}

input{
    background-color: white;
    padding: 10px 15px;
    border: solid 1px  #dedddc;
    border-radius: 25px;
    color: black;
    outline: none;


}

.frame_main{
    display: flex;
    height: auto;
    background-color: #d6d6d6;
    color: black;
    border-radius: 5px;
    max-width: 100%;

}

.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.custom-table{
    width: 100%;
}

td{
    background-color: #d6d6d6 !important;
}
th{
    background-color: #d6d6d6 !important;
}


.nao-alteravel{
    pointer-events: none;
}