{% extends 'base.html' %}
{% load static %}

{% block title %}Nova Despesa{% endblock %}

{% block nav %}
<a href="{% url 'new_expense' %}" class="btn-nav" id="btn-finance-expense">Nova Despesa</a>
<a href="{% url 'new_income' %}" class="btn-nav" id="btn-manage-income">Nova Entrada</a>
<a href="#" class="btn-nav" id="btn-manage-reports">Relatórios</a>

{% endblock %}


{% block title_page %}
Nova Despesa
{% endblock %}

{% block main %}
<div class="container form">
    <form method="post" id="expense_new_form" class="form_control">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_category">Categoria</label>
            <div class="input-group">
                {{ form.category }}
                <img class="p-2" src="{% static 'images/add_circle.svg' %}" alt="Adicionar" />
            </div>
        </div>

        <div class="mb-3">
            <label for="id_billing_number">Número Fatura</label>
            <div class="input-group">
                {{ form.billing_number }}
            </div>
        </div>

        <div class="mb-3">
            <label for="id_description">Descrição</label>
            <div class="input-group">
                {{ form.description }}
            </div>
        </div>

        <div class="mb-3">
            <label for="id_date">Data</label>
            <div class="input-group">
                {{ form.date }}
            </div>
        </div>

        <div class="mb-3">
            <label for="id_value">Valor</label>
            <div class="input-group">
                {{ form.value }}
            </div>
        </div>

        <div class="mb-3">
            <label for="id_file">Ficheiro</label>
            <div class="input-group">
                {{ form.file }}
            </div>
        </div>


        <button class="btn btn-primary" type="submit">Guardar</button>

    </form>
</div>

{% endblock %}